{% extends "layouts/default.html" %}
{% load set_var %}
{% load media_tags %}
{% load posts_tags %}
{% load humanize %} 
{% load comment_tags %}
{% load markup_tags  %}
{% block extra_meta %}
    <meta property="og:url" content="{{current_domain}}{% url "page_details" slug=post.slug %}"/>
    <meta property="og:title" content="Gamajuegos | {{post.meta_title}}"/>
     <meta property="og:description" content="{{post.excerpt}}"/>
    {% if post.featured_image|length > 0 %}
    <meta property="og:image" content="{{post.featured_image}}"/>
    {% endif %}
 {% endblock %}
    {% block title %} | {{post.meta_title}} {% endblock %}
    {% block description %} | {{post.meta_description}} {% endblock %}
    {% block content %}
    {% get_oembed_object post.content|get_markdown|album_short_code|add_img_class_boostrap as post_content %}
        <div class="col-md-12 center-text-center padding-top-20 padding-bottom-20">

             <!-- anunicio-2 -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:90px"
                         data-ad-client="ca-pub-3606690194001059"
                         data-ad-slot="5380169445"></ins>

        </div>
        {% list_comments  post.id as comments %}
        <h1 >
          {{post.title}}
        </h1>
      
        <p class="paragraph padding-5 border-bottom recalculate-font-size">
             {{post.excerpt}}
        </p>
        <div class="padding-20">

        
            <a  rel="nofollow"  href="https://twitter.com/intent/tweet?text={{post.excerpt}}&via=gamajuegos&url={{current_domain}}{% url "page_details" slug=post.slug %}" target="_blank" class="padding-10 blue font-white"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/sharer.php?u={{current_domain}}{% url "page_details" slug=post.slug %}" class="padding-10 blue2 font-white padding-left-15 padding-right-15"><i class="fa fa-facebook-f"></i></a>
            <a href="mailto:?subject={{post.title}}&body={{current_domain}}{% url "page_details" slug=post.slug %}" class="padding-10 background-dark font-white"><i class="fa fa-envelope-o"></i></a>
        </div>
   
         <time  class="font-12" datetime="{{ post.datetime|date:"Y-m-d H:i:s" }}">
            Hace {{ post.created|naturaltime}}
        </time> 
      
        {{ post_content|safe}}
  
{% endblock %}
