{% extends "layouts/default.html" %}
{% load posts_tags %}
{% block title %} | {{category.meta_title}} {% endblock %}
{% block description %} | {{category.meta_description}} {% endblock %}
{% load set_var %}
{% load humanize %} 
{% load tz %}

{% block content %}


<!--=================================
Blog
=================================-->
     
         <br>
    		{% for post in posts %}
          {% if forloop.counter == 1 and forloop.counter < posts|length and page <= 1 %} 
            <div class="col-md-12 hidden-xs text-left padding-top-10 padding-bottom-10 container-relative recalculate-font-size dark2">
                  <img class="img-responsive box-inner-shadow" src="{{post.featured_image}}">
                  <div class="text margin-20">
                    <a href="{% url "page_details" slug=post.slug %}" class="title font-bold font-white">{{post.title}}</a>
                    <p class="paragraph font-white">{{post.excerpt}} </p>
                  </div>
            </div>
          {% else %}
              <div class="col-md-12 clearfix">

                <div class=" padding-top-20 padding-bottom-20">
                    <div class="col-md-8">
                        <div>
                             <a href="{% url "page_details" slug=post.slug %}" class="title">{{post.title}}</a>
                        </div>
                        <div>
                            <span>Por </span>
                            <a href="#" class="autor">{{post.autor.nick}} </a>
                            <time  class="font-12" datetime="{{ post.datetime|date:"Y-m-d H:i:s" }}">
                                Hace {{ post.created|naturaltime}}
                            </time> 
                        </div>
                        
                        <div>
                            <p>{{post.excerpt}} </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                      <img class="img-responsive" src="{{post.featured_image}}">
                    
                    </div>
                </div>
              </div>
          {% endif %}




        {% empty %}
            <div class="col-md-12">
                <div class="padding-top-20 padding-bottom-20">
                    <h3 class="no-style font-bold">
                    <i class="glyphicon glyphicon-exclamation-sign"></i> 
                    Oops lo sentimos pero no hay resultados 
                    </h3>
                </div>
            </div>
        {% endfor %}
        
        {% if posts.has_other_pages %}


        <div class="col-md-12 padding-top-20 padding-bottom-20">
            {% if posts.has_next %}
              <a rel="nofollow"  href="{% url 'posts_tags_sub_tag' slug=slug sub_slug=sub_slug  page=posts.next_page_number %}" class="btn btn-primary pull-right"> Antiguos</a>
            {% endif %}
            {% if posts.has_previous %}
              <a rel="nofollow" href="{% url 'posts_tags_sub_tag' slug=slug sub_slug=sub_slug page=posts.previous_page_number %}" class="btn  btn-primary pull-right margin-right">Recientes</a>
            {% endif %}
           
        </div>

    	  {% endif %} 


{% endblock %}