<div class="row">
	<div class="col-md-12">
    
	    <div class="block block-condensed block">
	        <!-- START HEADING -->
	        <div class="app-heading app-heading-small">
	            <div class="title">
	                <h5>{{ 'COMMENTS_LABEL' | translate}}</h5>
	                <p>{{ 'EDIT_LABEL' | translate}}</p>
	            </div>
	        </div>
	        <!-- END HEADING -->

	        <div class="block-content ">

				<div class="row clearfix">
                    <simplemde ng-model="content"></simplemde>
				</div>
                      
            </div>


	        
	        </div>                            
	    </div>
    
	</div>

</div>