<div>
    <div class="app-heading app-heading-bordered app-heading-page">
        
        <div class="icon icon-lg">
            <span class="icon-laptop-phone"></span>
        </div>
        <div class="title">
            <h1>Boooya - Admin Template</h1>
            <p>The revolution in admin template build</p>
        </div>     
    </div>
    <div class="app-heading-container app-heading-bordered bottom">
        <ul class="breadcrumb">
            <li><a href="#">Application</a></li>                                                     
            <li class="active">Dashboard</li>
        </ul>
    </div>

</div>
