<div class="app-sidebar app-navigation app-navigation-fixed scroll app-navigation-style-default app-navigation-open-hover dir-left mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar app-navigation-fixed-absolute app-navigation-minimized mCS_disabled" data-type="close-other">
   
    
    <nav>
      	<ul>
            <li>
                <a ui-sref="root.posts">
                   <span class="nav-icon-hexa">A</span> 
                   {{ 'POST_PLURAL_LABEL' | translate}}
                </a>
            </li>
               <li>
                <a ui-sref="root.pages">
                   <span class="nav-icon-hexa">P</span> 
                   {{ 'PAGES_PLURAL_LABEL' | translate}}
                </a>
            </li>
            <li>
                <a ui-sref="root.categories">
                   <span class="nav-icon-hexa">C</span> 
                   {{ 'CATEGORY_LABEL' | translate}}
                </a>
            </li>
             <li>
                <a ui-sref="root.tags">
                   <span class="nav-icon-hexa">T</span> 
                   {{ 'TAGS_LABEL' | translate}}
                </a>
              </li>
            
            <li>
                <a  ui-sref="root.navigations">
                   <span class="nav-icon-hexa">N</span> 
                   {{ 'NAVIGATION_PLURAL_LABEL' | translate}}  
                </a>
            </li>
            <li>
                <a  ui-sref="root.media">
                   <span class="nav-icon-hexa">M</span> 
                   {{ 'MEDIA_LABEL' | translate}}  
                </a>
            </li>
            <li>
                <a  ui-sref="root.comments">
                   <span class="nav-icon-hexa">CM</span> 
                   {{ 'COMMENTS_LABEL' | translate}}  
                </a>
            </li>
             <li>
                <a  ui-sref="root.users">
                   <span class="nav-icon-hexa">U</span> 
                   {{ 'USER_PLURAL_LABEL' | translate}}  
                </a>
            </li>
         
            <!--<li>
                <a  ui-sref="root.themes">
                   <span class="nav-icon-hexa">T</span> {{ 'THEMES_LABEL' | translate}}  
                </a>
            </li>-->
        </ul>
    </nav>

<nav>
                    



</div>