<div class="row">
	<div class="col-md-12">
    
	    <div class="block block-condensed block">
	        <!-- START HEADING -->
	        <div class="app-heading app-heading-small">
	            <div class="title">
	                <h5>{{ 'NAVIGATION_PLURAL_LABEL' | translate}}</h5>
	                <p>{{ 'EDIT_LABEL' | translate}}</p>
	            </div>
	        </div>
	        <!-- END HEADING -->

	        <div class="block-content ">


				<div>
                    <ul class="nav nav-pills">
                        <li class="active">
                        	<a href="#pills-1"  data-toggle="tab" aria-expanded="true">
                        		{{ 'NAVIGATION_PLURAL_LABEL' | translate}}
                        	</a>
                        </li>
                        <li class="">
                        	<a href="#pills-2" data-toggle="tab" aria-expanded="false">                        	
                        		{{ 'NAVIGATION_ITEMS_PLURAL_LABEL' | translate}}
                        	</a>
                        </li>
                        <li class="">
                            <a href="#pills-3" data-toggle="tab" aria-expanded="false">                         
                                {{ 'ITEMS_PLURAL_LABEL' | translate}}
                            </a>
                        </li>
                     
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="pills-1">
                           	<div class="row clearfix">
					    		<div class="form-group">
					                <label class="control-label">{{ 'TITLE_LABEL' | translate}}</label>
					                <input class="form-control"  ng-model="model.name" type="text">
					                <br>
					            </div>
					        </div>
					     
                             <div class="form-group">
                                    <div class="app-checkbox"> 
                                        <label>
                                            <input name="app-checkbox-1" ng-model="model.publish" type="checkbox"> 
                                            {{ 'PUBLISH_LABEL' | translate}} <span>  </span>
                                        </label> 
                                    </div>
                                </div>
                        </div>
                        <div class="tab-pane" id="pills-2">

                            
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>{{ 'NAVIGATION_ITEMS_PLURAL_LABEL' | translate}}</h5>
                                    <div class="dd" id="nestable"></div>
                                </div>
                                
                               
                            </div>
                                    
                           
                        </div>
                        <div class="tab-pane " id="pills-3">
                            
                              
                            <div class="row">
                                <div class="dropdown ">
                                    <div class="btn-group"  data-toggle="dropdown" >
                                        <button type="button" class="btn btn-default dropdown-toggle">
                                        {{ 'ACTIONS_LABEL' | translate}}
                                        </button>
                                        <button type="button" class="btn btn-defaul dropdown-toggle" >
                                            <span class="caret"></span>
                                        </button>                                            
                                    </div>
                                    <ul  class="dropdown-menu"> 
                                        <li><a ui-sref="root.navigation_item_new({parent:model.id})">{{ 'NEW_LABEL' | translate}}</a></li> 
                                    </ul>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group ">
                                    
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="fa fa-search"></span></div>
                                            <input type="text" ng-model="model.query" class="form-control" placeholder="{{ 'SEARCH_LABEL' | translate}} {{ 'ITEMS_PLURAL_LABEL' | translate}}">
                                            <span class="input-group-btn">
                                                <button  ng-click="search()" class="btn btn-primary" type="button">Go!</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                    

                            </div>
                 

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{{ 'THUMB_LABEL' | translate}}</th>
                                        <th>{{ 'TITLE_LABEL' | translate}}</th>
                                        <th>{{ 'ACTIONS_LABEL' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in todos" data-id="{{item.id}}">
                                            
                                            <td width="65%" >
                                                <a ui-sref="root.navigation_item_edit({id:item.id})" class="btn btn-primary preview">
                                                    <strong >{{item.title}}</strong>
                                                </a>
                                            </td>
                                        
                                         
                                            <td>
                                              
                                                <a ng-click="DELETE(item.id)" class="btn btn-danger">
                                                     <i class="fa fa-trash"></i>
                                                </a>

                                            </td>
                                                                  
                                    </tr>
                                </tbody>
                            </table>


                   
                           
                        </div>
                      
                    </div>
                 
                    <button ng-click="Save()" class="btn btn-primary" style="margin-top: 25px;">
                         {{ 'SAVE_LABEL' | translate}}

                    </button>
                </div>


	        
	        </div>                            
	    </div>
    
	</div>

</div>