<div class="row">
	<div class="col-md-12">
    
	    <div class="block block-condensed block">
	        <!-- START HEADING -->
	        <div class="app-heading app-heading-small">
	            <div class="title">
	                <h5>{{ 'NAVIGATION_PLURAL_LABEL' | translate}}</h5>
	                <p>{{ 'EDIT_LABEL' | translate}}</p>
	            </div>
	        </div>
	        <!-- END HEADING -->

	        <div class="block-content ">


				<div>
                   
                  
                        
                           	<div class="row clearfix">
					    		<div class="form-group">
					                <label class="control-label">{{ 'TITLE_LABEL' | translate}}</label>
					                <input class="form-control"  ng-model="model.name" type="text">
					                <br>
					            </div>
					        </div>
					     
                            <div class="form-group">
                                <div class="app-checkbox"> 
                                    <label>
                                        <input name="app-checkbox-1" ng-model="model.publish" type="checkbox"> 
                                        {{ 'PUBLISH_LABEL' | translate}} <span>  </span>
                                   </label> 
                                </div>
                            </div>

                      
                  
                    <button ng-click="Save()" class="btn btn-primary" style="margin-top: 25px;">
                         {{ 'SAVE_LABEL' | translate}}

                    </button>
                </div>


	        
	        </div>                            
	    </div>
    
	</div>

</div>