            <!-- APP WRAPPER -->
    <div class="app">            
        
        <!-- START APP CONTAINER -->
        <div class="app-container app-header-inside-content app-sidebar-left-minimized ">       
          <!-- START SIDEBAR -->           
          <span class="sidebar-nav"></span>
          <!-- END SIDEBAR -->                  
          <!-- START APP CONTENT -->
          <div class="app-content app-sidebar-left ">
            
              <!-- START PAGE HEADER -->
              <span class="header-nav"></span>
              <!-- START PAGE HEADING -->
              
              <!-- END PAGE HEADING -->
              <!-- START PAGE CONTAINER -->
              <div class="container clearfix" ui-view="content"></div>
              <!-- END APP CONTAINER -->
              <span class="footer-nav"></span>
                <!-- APP OVERLAY -->
            
          </div>

          </div>
          <div class="app-overlay"></div>
            <!-- END APP OVERLAY -->

        </div> <!-- / .wrapper -->
    </div>
