<!DOCTYPE html>
<html class="no-js" xmlns:og="http://ogp.me/ns#">
<head>
	<meta charset="utf-8">
	<title>Gamajuegos {% block title %} {% endblock %}</title>
	<meta name="description" content="{% block description %} {% endblock %}">
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" />
	<meta name="referrer" content="unsafe-url">
	{% block extra_meta %}
		<meta property="og:image" content="{{current_domain}}{{STATIC_URL}}img/logo.png"/>
		<meta property="og:url" content="{{current_domain}}"/>
		<meta property="og:title" content=" "/>
		<meta property="og:description" content=" "/>
	{% endblock %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/styles.min.css">
	
</head>
<body class="padding-top-74">
  	<header>
  	{% include "includes/__header.html" %}
  	</header>
  	<main id="body" class="container">
  		
	  	<div class="row">
	  		{% block featured %}{% endblock %}
	  	
	  		{% block content %}{% endblock %}
	  		
	  	
		</div>
		
	</main>
	{% include "includes/__footer.html" %}
  
  {% include "includes/__javascript.html" %}
  {% block extra_script %}{% endblock %}
</body>
</html>
