{% extends "layouts/default_home.html" %}
{% load posts_tags %}
{% load video_tags %}
{% load game_tags %}
{% load set_var %}
{% load loops_filters %}
{% load comment_tags %}
{% load text_filters %}
{% load humanize %} 
{% load tz %}


{% block featured %}

  {% get_featured_article_category "post" "noticias" as post %}
   {% if post != None %}
    <div class="col-md-12 text-left padding-top-10 margin-top-10 padding-bottom-10 container-relative recalculate-font-size dark2">
        <img class="img-responsive box-inner-shadow" alt="post.featured_image" src="{{post.featured_image}}">
        <div style="background-color: #333; padding: 15px;" class="text margin-20">
            <a  href="{% url "page_details" slug=post.slug %}" class="title font-bold font-white">{{post.title}} </a>
            <p class="paragraph font-white">{{post.excerpt}}</p>
        </div>
        
    </div>
    {% endif %}
{% endblock %}
{% block content %}

<div class="col-md-12 center-text-center padding-top-20 padding-bottom-20">
    <div class="text-center clearfix">
        <div class="fancy-box ad ad728">
            <div class="fancy_box_body">
           
            </div>
        </div>
    </div>
</div>

{% get_recent_articles 6 "post" as noticias %}


<div class="col-md-9 col-sm-12 white-background recalculate-font-size col-md-9-ads tab-container">

    <div class="row">
        {% get_featured_videos as videos %}
          {% if videos|length > 0 %}
            {% for video in videos %}
            <div class="col-md-12 margin-bottom-5 margin-top-5 ">
                <div class="videoWrapper margin-bottom-20 ">
                  {% get_oembed_html video.link as oembed_object %}
                  {{oembed_object.html|safe}}
                </div>
            </div>
            {% endfor %}
        {% endif %}
        {% get_top_games_users as games %}
        {% if games|length > 0 %}
        <div class="col-md-12 margin-bottom-5 margin-top-5">
          <h3 class="title3 padding-20 border-left-5">Top Ranking Usuarios</h3>
          <div class="table-responsive">
            <table class="table game-ratting">
                <thead>
                    <tr>
                        <th colspan="2">Juegos disponibles </th>
                        <th>Género </th>
                        <th>A la venta </th>
                        <th>Valoración </th>
                    </tr>
                </thead>
                <tbody>
                  {% for game in games%}
                    <tr>
                        <td><img class="img-responsive" src="{{game.poster}}"></td>
                        <td>
                            <div class="info"><a href="/juego/{{game.slug}}">{{game.title}} </a><span class="platform">{{game.platform_parent.name}}</span></div>
                        </td>
                        <td><span class="text-info">{{game.genre_parent.name}} </span> </td>
                        <td><span class="text-info">{{game.launch_date}} </span> </td>
                        <td>
                            <div class=" ratting ">
                              {% for star in 5|times%}
                              <button type="button" class="btn {% if star <= game.temperature %}btn-warning{% else %}btn-default{% endif %} btn-sm" aria-label="Left Align">
                                <span class="fa fa-star" aria-hidden="true"></span>
                              </button>
                              {% endfor %}
                            
                            </div>
                        </td>
                    </tr>
                  {% endfor %}
        
                </tbody>
            </table>
          </div>
        </div>
        {% endif %}
      
    </div>
        
    <!--=================================
    Blog
    =================================-->
    <div class="row no-row">
        <div class="col-lg-2 col-md-3 col-sm-3">
            <ul class="nav nav-pills nav-stacked nav-ads-inline tabs">
                <li class="active"><a href="#" data-parent="#news"><i class="glyphicon glyphicon-time"></i> Noticias </a></li>
                <li><a href="#" data-parent="#videos"><i class="glyphicon glyphicon-film"></i> Videos </a></li>
            </ul>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-9 no-padding items-list">
            <div class="row no-row tab-item" id="news" style="display: block;">
                <div class="col-md-12 border-bottom-bach">
                   {% for post in noticias %}
                      {% if not forloop.first %}


                      <div class="row padding-top-20 padding-bottom-20">
                            <div class="col-md-4 col-sm-5">
                              <img class="img-responsive" alt="{{post.title}}" src="{{post.thumbnail}}">
                              {% if post.FirstCategory != None %}
                              <a class="label label-warning" href="{% url "page_details" slug=post.FirstCategory.slug %}">{{post.FirstCategory.name}} </a>
                              {% endif %}
                            </div>
                            <div class="col-md-8">
                               
                                <a href="{% url "page_details" slug=post.slug %}" class="title">{{post.title}}</a>
                              
                                <span class="meta"> •
                                  <time datetime="{{ post.datetime|date:"Y-m-d H:i:s" }}">{{ post.created|naturaltime}}</time> 
                                </span>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    
                    <div class="row padding-top-20 padding-bottom-20">
                        <div class="col-md-12 padding-top-10 padding-bottom-10">
                          <a href="{% url "archive" %}"  class="btn btn-primary" >
                            <i class="glyphicon glyphicon-tag"></i> Archivos 
                          </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-row tab-item" id="videos" style="display: none;">
                <div class="col-md-12 border-bottom-bach">
                    
                    {% get_recent_videos as recent_videos %}
                    {% for post in recent_videos %}
                    <div class="row padding-top-20 padding-bottom-20">
                        <div class="col-md-4 col-sm-5"> <img class="img-responsive" src="{{post.thumbnail}}"></div>
                        <div class="col-md-8">
                            <div> <a href="{% url "video" slug=post.slug %}" class="title">{{post.title}}</a></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-3 visible-md-block visible-lg-block md-3-ads no-padding">
  <div class="row">
      <div class="col-md-12 recalculate-font-size">
          {% get_top_rated_games as get_top_rated_games %}
          <h6 class="title padding-20 border-left-5">Ultimos Lanzamientos</h6>
          <div class="background-dark cover-background">
              {% for post in get_top_rated_games %}

              <div class="background-dark cover-background" style="background-image:url({{post.poster}});">
                  <div class="padding-20 hover-dark"><a href="/juego/{{post.slug}}" class="title font-white">{{post.title}} </a></div>
              </div>
              {% endfor %}
             
          </div>
      </div>
      <div class="col-md-12 recalculate-font-size">
          {% get_top_rated_articles as top_rated_articles %}
          <h6 class="title padding-20 border-left-5-dark">Top Noticias</h6>
          <div class="background-dark cover-background">
              {% for post in top_rated_articles %}
              <div class="background-dark cover-background">
                  <div class="padding-20 hover-dark">
                    <span class="title font-bold font-yellow"> {{ forloop.counter }}  </span>
                    <a  href="{% url "page_details" slug=post.slug %}" class="title font-white">{{post.title}} </a>
                  </div>
              </div>
              {% endfor %}
             
            
          </div>
      </div>
  </div>
</div>
{% endblock %}
