{% extends "layouts/default.html" %}
{% load posts_tags %}
{% load set_var %}
{% load comment_tags %}
{% load humanize %} 
{% load tz %}

{% block featured %}

  {% get_featured_article_category "post" "noticias" as post %}
   {% if post != None %}
    <div class="col-md-12 text-left padding-top-10 padding-bottom-10 container-relative recalculate-font-size dark2">
        <img class="img-responsive box-inner-shadow" alt="post.featured_image" src="{{post.featured_image}}">
        <div style="background-color: #333; padding: 15px;" class="text margin-20">
            <a  href="{% url "page_details" slug=post.slug %}" class="title font-bold font-white">{{post.title}} </a>
            <p class="paragraph font-white">{{post.excerpt}}</p>
        </div>
    </div>
    {% endif %}
{% endblock %}
{% block content %}

<div class="col-md-12 center-text-center padding-top-20 padding-bottom-20">

     <!-- anunicio-2 -->


</div>

{% get_recent_articles_category 6 "post" "noticias" as noticias %}
{% get_recent_articles_category 3 "post" "recomendaciones" as recomendaciones %}
{% get_recent_articles 4 "game"  as juegos %}
<!--=================================
Blog
=================================-->



		{% for post in noticias %}
          {% if forloop.counter <= 1 or forloop.counter|divisibleby:"3"   %} 
          <div class="row no-row border-bottom">
          {% endif %}
            <div class="col-md-4 col-sm-4 ">
              <div class="row padding-top-20 padding-bottom-20">
                  <div class="col-md-12">
                  <img class="img-responsive" alt="{{post.title}}" src="{{post.featured_image}}">
                  <span class="label label-warning">Noticias </span></div>
                  <div class="col-md-11">
                        <div>
                            <a href="{% url "page_details" slug=post.slug %}" class="title">{{post.title}}</a>
                        </div>
                        <div>
                            <span>Por </span>
                            <a href="#" class="autor">{{post.autor.nick}} </a>
                            <time  class="font-12" datetime="{{ post.datetime|date:"Y-m-d H:i:s" }}">
                                Hace {{ post.created|naturaltime}}
                            </time> 

                        </div>
                    </div>
                </div>
            </div>

          {% if forloop.counter|divisibleby:"3" or forloop.counter == posts|length   %}   
          </div>  
          {% endif %}        
        {% endfor %}
        
        
   
          <div class="row">
              <div class="col-md-12 ">
                  <div class="row no-row">
                      {% for post in recomendaciones %}
                      <div class="col-md-12 border-bottom-bach">
                          <div class="row padding-top-20 padding-bottom-20">
                              <div class="col-md-4 col-sm-5">
                                <img class="img-responsive" alt="post.featured_image" src="{{post.featured_image}}">
                              <span class="label label-warning">RECOMENDACIONES </span>
                              </div>
                              <div class="col-md-8">
                                  <div>
                                    <a href="{% url "page_details" slug=post.slug %}" class="title">{{post.title}}</a>
                                  </div>
                                  <div>
                                    <span>Por </span>
                                    <a href="#" class="autor">{{post.autor.nick}} </a>
                                    <time  class="font-12" datetime="{{ post.datetime|date:"Y-m-d H:i:s" }}">
                                         • {{ post.created|naturaltime}}
                                    </time> 
                                  </div>
                              </div>
                          </div>
                         
                      </div>
                      {% endfor %}
                      <div class="col-md-12 padding-top-20 padding-bottom-20">
                          <a href="{% url "archive" %}" class="btn btn-default" type="button">
                            <i class="glyphicon glyphicon-tag"></i> Archivos 
                          </a>
                          <a href="{% url 'page_details' slug="recomendaciones" %}" class="btn btn-primary pull-right">+ Recomendaciones</a>
                      </div>
                  </div>
              </div>
          </div>


         
      

{% endblock %}