{% load set_var %}
{% load comment_tags %}
{% load humanize %} 
{% load tz %}

{% if posts.has_other_pages %}
        <ul class="pagination">
          <li>
            <a rel="nofollow" href="{% url 'home'  %}">
              &laquo;
            </a>
          </li>
          {% if posts.has_previous %}
          <li>
            <a rel="nofollow" href="{% url 'home'  page=posts.previous_page_number %}">
              <i class="icon-angle-left"></i>
            </a>
          </li>
          {% endif %}

          {% for i in posts.main_range %}
              <li {% if adverts.number == i %} class="active" {%endif%}>
                  <a rel="nofollow" href="{% url 'home' page=i %}">
                    {{i}}
                  </a>          
              </li>         
          {% endfor %}     
          {% if posts.has_next %}
            <li>
              <a rel="nofollow" href="{% url 'home' page=posts.next_page_number %}">
                <i class="icon-angle-right"></i>
              </a>
            </li>
          {% endif %}
          <li>
            <a rel="nofollow" href="{% url 'home'  page=posts.paginator.num_pages %}">
               &raquo;
            </a>
          </li>
        </ul>  
          {% endif %}         

        <ul class="pagination">
          <li>
            <a rel="nofollow" href="{% url 'page_details' slug=slug %}">
              &laquo;
            </a>
          </li>
         
          <li>
            <a rel="nofollow" href="{% url 'page_details' slug=slug page=posts.previous_page_number %}">
              <i class="icon-angle-left"></i>
            </a>
          </li>
          {% endif %}

          {% for i in posts.main_range %}
              <li {% if adverts.number == i %} class="active" {%endif%}>
                  <a rel="nofollow" href="{% url 'page_details' slug=slug page=i %}">
                    {{i}}
                  </a>          
              </li>         
          {% endfor %}     
          {% if posts.has_next %}
            <li>
              <a rel="nofollow" href="{% url 'page_details' slug=slug page=posts.next_page_number %}">
                <i class="icon-angle-right"></i>
              </a>
            </li>
          {% endif %}
          <li>
            <a rel="nofollow" href="{% url 'page_details' slug=slug page=posts.paginator.num_pages %}">
               &raquo;
            </a>
          </li>
        </ul>  