{% load set_var %}
{% load posts_tags %}
{% url "home"  as page_details  %}

 

   
   	<div class="row hidden-xs">
   	    <div class="col-md-12 center-text-center no-padding">
   	        <h6 class="title padding-20 border-left-5 text-left no-margin-left">Suscribete a nuestra newsletter</h6>
   	        <form id="newsletter">
   	            <div class="form-group">
   	                <div class="input-group"><input class="form-control" placeholder="Ingresa tu email" type="text">
   	                    <div class="input-group-btn"><button class="btn btn-warning" type="button"><i class="glyphicon glyphicon-envelope"></i> suscribirse </button></div>
   	                </div>
   	            </div>
   	            <p>Suscribete y obten el mejor contenido semanal junto con informacion sobre ofertas de productos seleccionadas por nuestros mejores editores relacionadas con la industria de videojuegos.</p>
   	        </form>
   	        <form id="newsletter">
   	            <p>Muchas Gracias por suscribirte te mantendremos informado sobre las novedades y noticias relacionadas con el mundo de videojuegos esperamos que te guste mucho la informacion proporcionada.<i class="glyphicon glyphicon-ok"></i></p>
   	        </form>
   	    </div>
   	</div>


   	  
    <div style="margin: 25px">
        
       <!-- anuncio-ajustable -->
  		<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ur1&category=gift_certificates&banner=127JF9E4530CSFRCY4R2&f=ifr&linkID=9d99ff969fe8074c61baa185c821dfc2&t=personalsto0c-20&tracking_id=personalsto0c-20" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

    </div>
    
    


                   