{% load i18n %}
{% load widget_tweaks %}
<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<form id="commentform" method="post" action="{% url "comments_post_comment" id=post.id %}?next={% url 'page_details' slug=post.slug %}#commentform">
	{% csrf_token %} 
	<div class="row">
    	<div class="col-lg-3 col-md-3 col-sm-3">
    		{{comment_form.name|attr:"placeholder:Nombre:"}}      		
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
        	{{comment_form.email|attr:"placeholder:Email:"}}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
        	{{comment_form.website|attr:"placeholder:Website:"}}
        </div>
    </div>
    <div class="row">
      	<div class="col-lg-12 col-md-12 col-sm-12">
      		{{comment_form.comment|attr:"placeholder:Mensaje:"}}
    	</div>
      	<div class="col-lg-12 col-md-12 col-sm-12">
      		{{comment_form.captcha}}
    	</div>    	
	</div>
    <input class="btn" id="submit1" type="submit" value="Enviar mensaje">
    <input data-url="{% url "comments_post_comment" id=post.id %}?next={% url 'page_details' slug=post.slug %}#commentform" class="btn" id="cancel_reply" type="button" value="Cancelar Reply">
</form>
