<div class="row">
	<div class="col-md-12">
    
	    <div class="block block-condensed">
	        <!-- START HEADING -->
	        <div class="app-heading app-heading-small">
	            <div class="title">
	                <h5>{{ 'MEDIA_ALBUM_PLURAL_LABEL' | translate}}</h5>
	                <p>{{ 'IMAGE_PLURAL_LABEL' | translate}}</p>
	            </div>
	        </div>
	        <!-- END HEADING -->

	        <div class="block-content">
	            	<div class="row">
		               	<div class="col-md-12">
		               		<dropzone confirm-action="makeTodos()"></dropzone>
		                </div>		                    
		           </div>
		         
		          	
             
	         	<div class="row padding-top-20">
		
	               	<div class="col-md-12">
	               		<div class="form-group ">
	                    
	                        <div class="input-group">
	                            <div class="input-group-addon"><span class="fa fa-search"></span></div>
	                            <input type="text" ng-model="model.query"  class="form-control" placeholder="{{ 'SEARCH_LABEL' | translate}} {{ 'FILE_PLURAL_LABEL' | translate}}">
	                            <span class="input-group-btn">
                                    <button ng-click="search()" class="btn btn-primary" type="button">Go!</button>
                                </span>
	                        </div>
	                    </div>
	               	</div>
		                

                </div>

                <div class="row padding-top-20">      

				    <table class="table">

				    	<tbody>
				        	<tr ng-repeat="item in filteredTodos" data-id="{{item.id}}">
				                <td class="app-timeline-item" width="20px;">
				                    <div class=" padding-top-20" style="height: 102px;">
				                        <div class="contact contact-rounded contact-bordered contact-xlg margin-bottom-0">
				                           <img  style="height: 58px" ng-src="{{item.img}}" >
				                        </div>
				                    </div>
				                        
				                </td>
				                <td width="75%" >
				                    
				                    <strong >{{item.title}}</strong>
				                  
				                </td>

				             
				                <td>
				                  
				                  	<a ui-sref="root.media_edit({id:item.id})" class="btn btn-primary">
				                    	<i class="fa fa-pencil-square-o"></i>
				                        {{ 'EDIT_LABEL' | translate}}
			                    	</a>
	                                <a ng-click="DELETE(item.id)" class="btn btn-danger">
										 <i class="fa fa-trash"></i>										 
	                                </a>

				                </td>
				            </tr>
				   		</tbody>
					</table>

			    </div>
			       
			         
			    
				


	   
	             <nav ng-show="todos.length > itemsPerPage">


	            	<paging
					  page="currentPage" 
					  page-size="itemsPerPage" 
					  total="todos.length"
					  pg-href="#/media/page/{page}"
					  show-prev-next="true"
					  show-first-last="true"
					  class="pagination pagination-noborder"
						paging-action="pageChanged(page)"
					  >
					</paging>  
	       
             	</nav>
	        </div>                            
	    </div>
    
	</div>

</div>