{% extends "layouts/default.html" %}
{% load posts_tags %}
{% load game_tags %}
{% load set_var %}
{% load comment_tags %}
{% load text_filters %}
{% load humanize %} 
{% load loops_filters %}
{% load tz %}
{% block content %}

<div class="row">
      <div class="col-md-12 no-padding">
          <h3 class="title3 padding-20 border-left-5 text-left no-margin-left">JUEGOS </h3>
      </div>
</div>
        
<br>
<div class="row no-row">
    <div class="col-md-12 border-bottom-bach">
        
        <div class="row padding-top-20 padding-bottom-20 recalculate-font-size">
            {% for game in games %}
            <div class="col-md-4 col-sm-4">
                <img class="img-responsive" src="{{game.poster}}">
                <div>
                  <a href="{% url "game" slug=game.slug %}" class="title">{{game.title}} </a>
                </div>
                
            </div>
            {% endfor %}
           
        </div>
    </div>
    {% if next_page > 0 %}
    <div class="col-md-12 padding-top-20 padding-bottom-20">
    
        {% if next_page < pages %}
          <a href="{% url "games" page=next_page %}" class="btn btn-primary pull-right margin-right">Post Antiguos</a>
        {% endif %}
        {% if page > 1 %}
          {% if page > pages %}
          <a href="{% url "games" page=prev_page %}" class="btn btn-primary pull-right">Post Recientes</a>
          {% else %}
           <a href="{% url "games" %}" class="btn btn-primary pull-right">Post Recientes</a>
          {% endif %}
        {% endif %}
     
    </div>
    {% endif %}
</div>
{% endblock %}
{% block sidebar %}
<aside class="col-md-4 visible-md-block visible-lg-block">
  <div class="row append-widgets">
  </div>
 

  {% get_top_games_users as games %}
    {% if games|length > 0 %}
     <h3 class="title3 padding-20 border-left-5-dark">Top Ranking</h3>
      {% for game in games%}

      <div class="rating-block margin-bottom-10  small clearfix">
        <div class=" ">
          
          </div>
          <div class="col-md-6 no-padding ">
            <a href="/juego/{{game.slug}}"><img src="{{game.poster}}" class="img-responsive" /></a>
          </div>
          <div class="col-md-6  ">
            
            <h6>{{game.title}}</h6>
            <h5 class="bold">{{game.temperature2}}<small>/ 5</small></h5>
              
          </div>
          
           <div class=" no-pading col-md-12">
            {% for star in 5|times%}
             <button type="button" class="btn {% if star <= game.temperature %}btn-warning{% else %}btn-default{% endif %} btn-sm" aria-label="Left Align">
               <span class="fa fa-star" aria-hidden="true"></span>
             </button>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
  {% endif %}
  
</aside>
{% endblock %}